<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Shop</title>
</head>
<body>
    <table>
        <tr>
            <th>Id</th><th>Name</th><th>Price</th><th>Quantity</th>
        </tr>

       <% for( let item of products){ %>
        <tr>
            <td><%= item.id  %> </td>
            <td><%= item.name  %> </td>
            <td><%= item.price  %> </td>
            <td><%= item.quantity  %> </td>
            <td><a href="/details?id=<%= item.id %> ">Details</a></td>
        </tr>
       <% } %> 
    </table>
</body>
</html>